<div id="main">

  <div id="top">
    <h3>Hi, I'm Mo.</h3>
    <div id="pic">
      <img src="<%= image_path 'mo-pic.jpg' %>" alt="Mo Lawson" height="100" width="100">
    </div><!-- end pic -->
    <div id="blurb">
      <p>
      I build <strong>websites</strong> and <strong>applications</strong> that free people up to do what they love. I believe that this type of application should be <strong>straightforward</strong> and <strong>graceful</strong>, both on the user’s side and in the code. That means I spend much of my time in <strong>Ruby</strong> (mostly <strong>Rails</strong>), and I can't complain about that.
      </p>
    </div><!-- end blurb -->
  </div><!-- end top -->

  <div id="bottom">
    <div id="networks">
      <h3>Networks</h3>
      <ul>
        <li>
          <a href="http://github.com/molawson" target="_blank">
            <span class="social_icon github">Github</span>
            <span class="service">Github</span><br />
            <span class="link">github.com/molawson</span>
          </a>
        </li>
        <li>
          <a href="http://twitter.com/molawson" target="_blank">
            <span class="social_icon twitter">Twitter</span>
            <span class="service">Twitter</span><br />
            <span class="link">twitter.com/molawson</span>
          </a>
        </li>
        <li>
          <a href="mailto:mo@molawson.com">
            <span class="social_icon email">Email</span>
            <span class="service">Email</span><br />
            <span class="link">mo@molawson.com</span>
          </a>
        </li>
      </ul>
    </div><!-- end networks -->

    <div id="services">
      <h3>Services</h3>
      <ul>
        <li>Web Application Development</li>
        <li>Website Design</li>
        <li>CMS Integration</li>
        <li>Consulting</li>
      </ul>
    </div><!-- end services -->

  </div><!-- end bottom -->

</div><!-- end main -->

<div id="sidebar">
  <h3>Recent Blog Posts</h3>
  <% if @posts.length > 0 %>
    <ul id="recent">
      <% @posts.each do |post| %>
        <li>
          <a href="<%= post.url %>"><%= post.title %></a>
          <span class="metadata left"><%= Time.at(post.published_at).strftime('%b %-d') %></span>
          <span class="metadata right"><%= post.read_time %> minute read</span>
        </li>
      <% end %>
    </ul><!-- end recent -->
    <p class="more"><a href="http://blog.molawson.com">More posts &raquo;</a></p>
  <% else %>
    <p>Coming soon.</p>
  <% end %>
</div><!-- end sidebar -->
