<div id="main">

  <div id="top">
    <h3>Hi, I'm Mo.</h3>
    <div id="pic">
      <%= image_tag "mo-pic.jpg", :alt => "Mo Lawson", :size => "100x100" %>
    </div><!-- end pic -->
    <div id="blurb">
      <p>
      I build <strong>websites</strong> and <strong>applications</strong> that free people up to do what they love. I believe that this type of application should be <strong>straightforward</strong> and <strong>graceful</strong>, both on the user’s side and in the code. That means I spend much of my time in <strong>Ruby</strong> (mostly <strong>Rails</strong>), and I can't complain about that.
      </p>
    </div><!-- end blurb -->
  </div><!-- end top -->

  <div id="bottom">
    <div id="networks">
      <h3>Networks</h3>
      <ul>
        <li>
          <%= link_to "http://github.com/molawson", :target => "_blank" do %>
            <span class="social_icon github">Github</span>
            <span class="service">Github</span><br />
            <span class="link">github.com/molawson</span>
          <% end %>
        </li>
        <li>
          <%= link_to "http://behance.net/molawson/frame", :target => "_blank" do %>
            <span class="social_icon behance">Behance</span>
            <span class="service">Behance</span><br />
            <span class="link">behance.net/molawson</span>
          <% end %>
        </li>
        <li>
          <%= link_to "http://twitter.com/molawson", :target => "_blank" do %>
            <span class="social_icon twitter">Twitter</span>
            <span class="service">Twitter</span><br />
            <span class="link">twitter.com/molawson</span>
          <% end %>
        </li>
        <li>
          <%= link_to "mailto:mo@molawson.com" do %>
            <span class="social_icon email">Email</span>
            <span class="service">Email</span><br />
            <span class="link">mo@molawson.com</span>
          <% end %>
        </li>
      </ul>
    </div><!-- end networks -->

    <div id="services">
      <h3>Services</h3>
      <ul>
        <li>Web Application Development</li>
        <li>Website Design</li>
        <li>CMS Integration</li>
        <li>Consulting</li>
      </ul>
    </div><!-- end services -->

  </div><!-- end bottom -->

</div><!-- end main -->

<div id="sidebar">
  <h3>Recent Blog Posts</h3>
  <% if @posts.length > 0 %>
    <ul id="recent">
      <% @posts.each do |post| %>
        <li><%= link_to post.title, blog_post_path(post.slug) %></li>
      <% end %>
    </ul><!-- end recent -->
    <p class="more"><%= link_to 'More posts &raquo;'.html_safe, blog_path %></p>
  <% else %>
    <p>Coming soon.</p>
  <% end %>
</div><!-- end sidebar -->
