<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_messages">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved.</h2>
      <p>Please correct the following errors and resubmit the form:</p>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :is_active, "Publish" %>
    <%= f.check_box :is_active %>
  </div>  
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
