<h2 class="alignleft">Posts</h2>

<%= link_to "New Post", new_post_path, :class => 'button new-button' %>

<table>
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th class="actions">Actions</th>
  </tr>
  <% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= statusize(post.is_active) %></td>
    <td class="actions"><%= link_to "Edit", edit_post_path(post) %> - <%= link_to("Delete", post, :method => :delete, :confirm => "Are you sure?") %></td>
  </tr>
  <% end %>
</table>
