<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) + " | Mo Lawson" : "Mo Lawson | Ruby on Rails Developer, Dallas, Texas" %></title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="wrapper">
    <div id="header">
      <h1><%= link_to 'Mo Lawson', root_url %></h1>
    </div><!-- end header -->

    <div id="content">
      
      <%- flash.each do |name, msg| -%>
      	<%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%= yield %>
      
    </div><!-- end content -->
    
    <div id="footer">
      &copy; 2011 Mo Lawson. All rights reserved.
    </div><!-- end footer -->
  </div>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-21170189-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>
